langchain==1.0.1
langchain-mistralai==1.0.1
mistralai>=1.0.0,<2.0.0
PyPDF2==3.0.1
scikit-learn>=1.2.0
scipy>=1.10.0
qdrant-client>=1.11.0
python-dotenv>=1.0.0
fastapi
uvicorn[standard]
mysql-connector-python
python-multipart



numpy<2.0
onnxruntime==1.19.2
tokenizers==0.20.3

