# torch==2.2.2+cpu
# torchvision==0.17.2+cpu
# torchaudio==2.2.2+cpu
# -f https://download.pytorch.org/whl/cpu

# langchain==1.0.1
# langchain-mistralai==1.0.1
# mistralai>=1.0.0,<2.0.0
# PyPDF2==3.0.1
# sentence-transformers>=2.2.2
# numpy>=1.24.0
# scikit-learn>=1.2.0
# scipy>=1.10.0
# qdrant-client>=1.11.0
# python-dotenv>=1.0.0
